{{ define "main" }}
<content>
  {{ if .Data.Singular }}
    <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
    <small><a href="{{ "/" | relURL }}">Remove filter</a></small>
  {{ end }}

  <ul style="list-style: none; padding: 0;">
    <!-- Tag filtering -->
    {{ range .Pages }}
    <li class="post-item">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="post-date">{{ .Date.Format "02 Jan, 2006" }}</span>
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>
</content>
{{ end }}
