<nav class ="nav-top">
    {{- range .Site.Menus.main -}}
    <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
    {{- end -}}
    <button
        id="theme-toggle"
        aria-label="Toggle Theme"
        style="
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            margin-left: 10px;
            color: inherit;
            padding: 0;
        "
    >
        <span class="theme-icon">💡</span>
    </button>
</nav>

<div class="header-main">
    <h1 style="margin: 0">
        <a href="/" style="text-decoration: none; color: inherit"
            >{{ .Site.Title }}</a
        >
    </h1>
    <p class="site-byline">{{ .Site.Params.description }}</p>
</div>
