<div class="newsletter">
    <h2 class="newsletter-heading">get hip</h2>
    <p class="newsletter-description">lorem impsum</p>

    <form
        class="newsletter-form"
        action="https://app.kit.com/forms/9917667/subscriptions"
        method="post"
    >
        <div data-style="clean" class="newsletter-fields">
            <div class="newsletter-field" data-element="fields" data-stacked="false">
                <input
                    name="fields[first_name]"
                    type="text"
                    placeholder="First Name"
                    required
                >
            </div>

            <div class="newsletter-field">
                <input
                    name="email_address"
                    type="email"
                    placeholder="Email Address"
                    required
                >
            </div>

            <button type="submit" class="newsletter-submit">Subscribe</button>
        </div>
    </form>
</div>